.esport-login {
  width: 50%;
}

.img-user {
  border-radius: 50%;
  width: 200px;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media (max-width: 576px) {
  .esport-login {
    width: 100%;
  }
}
