@font-face {
  font-family: Conthrax Sb;
  src: url("../fonts/conthrax-sb.ttf");
}

@font-face {
  font-family: MMC Regular;
  src: url("../fonts/MMCOFFICE-Regular.ttf");
}

@font-face {
  font-family: MMC Medium;
  src: url("../fonts/MMC-Medium.ttf");
}

@font-face {
  font-family: MMC Bold;
  src: url("../fonts/MMCOFFICE-Bold.ttf");
}

body {
  font-family: MMC Regular;
}

.card-berita {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  font-family: MMC Medium;
}

.mmc-regular {
  font-family: MMC Regular;
}

.mmc-medium {
  font-family: MMC Medium;
}

.mmc-bold {
  font-family: MMC Bold;
}

.nav-link:hover {
  color: red !important;
}

.esport-login {
  width: 50%;
}

.img-user {
  border-radius: 50%;
  width: 200px;
}

.my-gallery {
  cursor: pointer;
  margin-top: 15px;
}

.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 120px;
  height: 150px;
  overflow: hidden;
  background-color: lightgray;
  text-align: center;
  line-height: 150px;
  font-weight: 500;
  color: white;
}

.my-gallery figure.figures {
  background-color: white !important;
  border: 1px solid #a29d9d;
  color: black !important;
}

.carousel-custom {
  height: 80vh;
}

footer .img-footer {
  width: 200px;
}

footer a {
  text-decoration: none;
  color: white;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.width-news {
  width: 50%;
}

.carousel-berita {
  height: 60vh;
}

.carousel-berita img,
.carousel-home img {
  cursor: pointer;
  filter: brightness(0.4);
}

.carousel-berita p,
.carousel-home p {
  font-size: 25px;
}

.category {
  border-color: #71001c;
  color: black;
}

.event-active {
  color: white;
  background-color: #71001c;
}

.cursor-pointer {
  cursor: pointer;
}

.carousel-home .carousel-caption {
  top: 45%;
}

.carousel-berita .carousel-caption {
  top: 55%;
}

.bg-black {
  background: black;
}

.bg-login {
  background: black;
  border-radius: 10px;
  border: 1px solid white;
  padding: 40px;
  color: white;
}

.media-large {
  display: none;
}

.media-small {
  display: block;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

@media (min-width: 768px) {
  .border-label-eo {
    border: 1px solid brown;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .esport-login {
    width: 100%;
  }

  footer .text-center-custom {
    text-align: center;
  }

  .width-news {
    width: 100%;
  }

  .carousel-berita p,
  .carousel-home p {
    font-size: 17px;
  }

  /* .esport-create-event {
    width: 80%;
  } */

  .carousel-custom,
  .carousel-berita {
    height: auto;
  }

  .font-berita {
    font-size: 12px !important;
  }
}
